.angular-tooltip { position: fixed; z-index: 99999; }
.angular-tooltip-arrow-btm, .angular-tooltip-arrow-top { width: 0; height: 0;
	border-left: 8px solid transparent; border-right: 8px solid transparent; }
.angular-tooltip-arrow-btm { border-top: 8px solid #000; }
.angular-tooltip-arrow-top { border-bottom: 8px solid rgba(0, 0, 0, .8); }
.angular-tooltip-text { background: #000; padding: 10px; color: #dfdfdf; font-size: 14px;
	border-radius: 3px; text-align: left; max-width: 485px; }
