<html>
	<head>
		<style>
			.ui-msg-blue, .ui-msg-green, .ui-msg-yellow, .ui-msg-red
			{
				border-radius: 2px;
				padding: 8px;
				margin: 10px;
				text-transform: capitalize;
			}
			
			.ui-msg-blue { color: #1577a1; background: #a9e2fb; }
			.ui-msg-green { color: #418c15; background: #a0f270; }
			.ui-msg-yellow { color: #8d8510; background: #fdf68a; }
			.ui-msg-red { color: #9a3429; background: #f7796b; }
		</style>
	</head>
	<body>
		<h1>messages</h1>
		<p class="ui-msg-blue"><strong>Info!</strong> Some new info is available [ui-msg-blue]</p>
		<p class="ui-msg-green"><strong>Success!</strong> Your account has been created [ui-msg-green]</p>
		<p class="ui-msg-yellow"><strong>Warning!</strong> This is a warning message [ui-msg-yellow]</p>
		<p class="ui-msg-red"><strong>Error!</strong> This action cannot be completed [ui-msg-red]</p>
	</body>
</html>
