.angular-AlertBox.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    z-index: 9998;
}
.angular-AlertBox .body {
    position: relative;
    margin: 150px auto;
    width: 500px;
    position: relative;
    background: #fff;
    border: 1px solid #878787;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 2px;
    max-height: 550px;
    overflow-y: auto;
}
.angular-AlertBox .ok,
.angular-AlertBox .cancel {
    display: inline-block;
    padding: 6px 20px;
    border-radius: 1px;
    margin-right: 5px;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
}
.angular-AlertBox .ok {
    color: #fff;
    background: #5C8DF4;
    border: 1px solid #4477E6;
}
.angular-AlertBox .cancel {
    color: #000;
    background: #F5F5F5;
    border: 1px solid #DADADA;
}
.angular-AlertBox .ok:hover {
    border-color: #25417d;
}
.angular-AlertBox .actions {
    border-top: 1px solid #dbdbdb;
    padding: 10px;
    text-align: center;
}
.angular-AlertBox .message {
    padding: 16px 8px 16px 8px;
}
.angular-AlertBox .title {
    padding: 10px;
    text-transform: capitalize;
    font-size: large;
}
.angular-AlertBox .close {
    position: absolute;
    top: 5px;
    right: 12px;
    cursor: pointer;
    font-size: large;
}
